@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&family=Inter+Tight:wght@100;200;300;400;500;600;700&display=swap');

@layer base {
    body {
        @apply bg-[#2e4057];
        /* @apply bg-[#242d39]; */
        @apply font-['Inter_Tight'];
        @apply text-[#edf6f9];
        @apply text-base;
        @apply leading-loose;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }

    a {
        @apply text-[#ff9d87];
        @apply transition-all ease-in;
        @apply duration-200;
    }

    a:hover {
        @apply text-white;
    }
    a.home {
        @apply text-[#f27c61];
        @apply transition-all ease-in;
        @apply duration-500;
    }

    a.home:hover {
        @apply text-white;
        @apply border-b-4;
        @apply border-[#5e7089];
        @apply transition-all ease-in;
    }

    h2 {
        @apply inline;
        @apply text-5xl;
        @apply text-[#ff9d87bf];
        @apply font-semibold;
        @apply border-b-4;
        @apply border-[#5e7089];
    }

    button {
        @apply text-[#eeb1a3];
        @apply font-['Source_Code_Pro'];
        @apply transition-all ease-in;
        @apply duration-300;
    }

    button:hover {
        @apply text-white;
    }
}

.active {
    color: #f27c61 !important;
}