@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&family=Jost:wght@200;300;400;500;700&display=swap');

@layer base {
    body {
        @apply bg-[#1c2541];
        @apply font-[Jost];
        @apply text-gray-300;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }

    a {
        @apply text-[#6fffe9];
        @apply transition-all ease-in;
    }

    a:hover {
        @apply text-[#bbf7ee];
        @apply border-b-2;
        @apply border-[#6fffe9];
        @apply transition-all ease-in;
    }

    button {
        @apply transition-all ease-in;
    }

    button:hover {
        @apply transition-all ease-in;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(#5bc0be, #6fffe9) !important;
    cursor: pointer;
}