@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&family=Jost:wght@200;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

@layer base {
    body {
        @apply bg-[#F9faf4];
        /* @apply font-[Jost]; */
        @apply font-['Inter_Tight'];
        @apply text-[#6e7f81];
        @apply text-base;
        @apply leading-loose;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }

    a {
        @apply text-[#84d5bc];
        @apply transition-all ease-in;
    }

    a:hover {
        @apply text-[#c0e7db];
        @apply transition-all ease-in;
    }
    a.home {
        @apply text-[#84d5bc];
        @apply transition-all ease-in;
    }

    a.home:hover {
        @apply text-[#c0e7db];
        @apply border-b-2;
        @apply border-[#9fdac7];
        @apply transition-all ease-in;
    }

    button {
        @apply transition-all ease-in;
    }

    button:hover {
        @apply transition-all ease-in;
    }
}

.active {
    color: #9fdac7 !important;
}